*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    overflow: hidden;
}

.imageSide{
    position: relative;
    display: flex;
    height: 100vh;
    width: 30%;
}

.desktopMobileimage .desktop{
    height: 100%;
    width: 100%;
}

.desktopMobileimage .mobile{
    display: none;
}

.cardImages{
    position: absolute;
    top: 15%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.cardFront{
    width: 100%;
}

.frontText{
    position: absolute;
    top: 5%;
    left: 5%;
    color: hsl(0, 0%, 100%);
}

.frontText img{
    width: 100px;
}

.frontImage{
    position: relative;
}

.insideText{
    margin-top: 55px;
}

.insideText .numbers{
    font-size: 27px;
    letter-spacing: 0.15em;
}

.nameAndDate{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-top: 20px;
}

.backImage{
    position: relative;
    left: 20%;
}

.cardBackNum{
    position: absolute;
    top: 45%;
    right: 13%;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.1em;
}

form{
    width: 350px;
}

.anotherSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formdiv{
    display: flex;
    flex-direction: column;
    gap: 0.35em;
    margin-top: 20px;
    width: 100%;
}

label{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: hsl(278, 68%, 11%);
    letter-spacing: 0.15em;
}

.inputBox{
    width: 100%;
    height: 40px;
    padding: 0 1em;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(278, 68%, 11%);
    position: relative;
    transition: all .3s ease-in-out;
}

input.errorText{
    border-color: hsl(0, 100%, 66%);
}

.inputBox:focus{
    border-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
}

.errorMessage, .wrongFormat{
    color: hsl(0, 100%, 66%);
    font-size: 12px;
    display: none;
    transition: all .3s ease-in-out;
}

.errorMessage.displayError{
    display: block;
}

.wrongFormat.displayError{
    display: block;
}

.expiryDateAndCvc{
    display: flex;
}

.expiryDate .inputs{
    display: flex;
    gap: 0.5em;
    width: 100%;
}

.inputs input{
    width: 70px;
    height: 40px;
    padding: 0 1em;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    font-family: 'Space Grotesk', sans-serif;
    outline: none;
    position: relative;
    transition: all .3s ease-in-out;
}

.inputs input:focus{
    border-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
}

.inputs input.errorText{
    border-color: hsl(0, 100%, 66%);
}

button{
    width: 100%;
    margin-top: 3em;
    border: none;
    height: 40px;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 5px;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

input::placeholder{
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(279, 6%, 55%);
}

.thanksPage{
    display: none;
    flex-direction: column;
    gap: 1.5em;
}

.continue{
    margin-top: 0;
    width: 350px;
}

.thanksPage h1{
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.thanksPage p{
    color: hsl(279, 6%, 55%);
    font-weight: 500;
}

.thanksPage.view{
    display: flex;
}

.formSide.view{
    display: none;
}

@media screen and (max-width: 1208px) {
    body{
        flex-direction: column;
        overflow: unset;
    }
    .imageSide{
        width: 100%;
        overflow: hidden;
        height: 700px;
    }
    .imageSide .desktop{
        width: 100vw;
        height: 500px;
    }
}

@media screen and (max-width: 605px){
    .imageSide{
        width: 100%;
        height: 30%;
    }
    .desktopMobileimage .desktop{
        display: none;
    }
    .desktopMobileimage .mobile{
        display: block;
        width: 100vw;
        height: 200px;
    }
    .cardImages{
        position: fixed;
        top: 10%;
    }
    .backImage{
        position: absolute;
        top: -15%;
        left: 20%;
    }
    .backImage img{
        width: 100%;
    }
    .frontImage{
        z-index: 100;
        margin-top: 20%;
    }
    .frontImage .cardFront{
        width: 80%;
    }
    .insideText{
        margin-top: 20px;
    }
    .insideText .numbers{
        font-size: 15px;
        letter-spacing: 0.2em;
    }
    .cardBackNum{
        top: 42%;
    }
    form{
        margin-top: 14rem;
    }
    button{
        margin-top: 2em;
    }
}
@media screen and (max-width: 500px){
    .cardImages{
        position: fixed;
        right: 20%;
    }
    form{
        margin-top: 10rem;
    }
    .insideText .numbers{
        font-size: 1.1rem;
        letter-spacing: 0.15em;
    }
    .nameAndDate{
        font-size: 0.75rem;
        letter-spacing: 0.1em;
        margin-top: 5px;
    }
}
@media screen and (max-width: 420px){
    .insideText .numbers{
        font-size: 0.95rem;
        letter-spacing: 0.1em;
    }
    .nameAndDate{
        font-size: 0.65rem;
        letter-spacing: 0.05em;
    }
    form{
        margin-top: 6rem;
    }
    .frontText img{
        width: 75px;
    }
}
@media screen and (max-width: 380px){
    .cardImages{
        position: fixed;
        top: 6%;
    }
    .desktopMobileimage .mobile{
        height: 150px;
    }
    form{
        width: 80%;
    }
    .frontText img{
        width: 65px;
    }
    .expiryDateAndCvc{
       flex-direction: column;
    }
}

@media screen and (max-width: 336px){
    .desktopMobileimage .mobile{
        height: auto;
    }
    form{
        margin-top: 2rem;
    }
    .insideText .numbers{
        font-size: 10px;
        letter-spacing: 0.2em;
    }
    .insideText .nameAndDate{
        font-size: 10px;
        margin-top: 5px;
    }
    .cardBackNum{
        font-size: 10px;
    }
}
  
